Flask==2.3.3
Werkzeug==2.3.7
opencv-python-headless
numpy
python-dotenv
cloudinary==1.36.0
flask-cors
gunicorn==21.2.0
flasgger==0.9.7.1
tensorflow-cpu==2.15.0
tensorboard==2.15.1
matplotlib==3.8.2
pymongo==4.6.1